<p>user-cadastro works!</p>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox text-center">
    
                        <img alt="image" src="/assets/images/construcao.jpeg" />
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="ibox text-center">
                    <h3 style="text-align: center">Por favor acesse o cadastro de Cidade e lista manutenção para exemplo</h3>
                </div>
            </div>
        </div>
    </div>
