/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/style_inspinia";
@import "src/assets/styles/style";

.footer {
    padding: 18px 20px !important;
  }

  .btn {
    margin-left: 5px !important;
    margin-top: 5px !important;
} 

.ibox-content {
  padding: 35px 20px 20px 20px !important;
}
.linkPesquisa {
  color: #ffffff
}

.linkNovo {
  color: #0000ff;
  font-size: 14px;
}

.fa-close {
  color: #ff0000;
}

.inmodal .modal-icon  {
  color: #ff0000 !important;
}

.row {
  margin-left: -10px; 
}
  