   <!--Header Upper-->
  <section class="header-uper">
    <div class="row">
     
        <div class="col-md-2">
            <div>
                <figure>
                    <a>
                        <img src="../../assets/images/home/grifo.png" alt="" width="130">
                        <h3>Grifo Digital</h3>
                    </a>
                </figure>
            </div>
    
        </div>
        <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-success float-left">Destaque manutenção</span>
                                <small>
                                    <h5 class="labelH5">Flag da Asa</h5>
                                </small>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">5</h1>
                                <div class="stat-percent font-bold text-success">57% <i class="fa fa-bolt"></i></div>
                                <small>Quantidade</small>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-warning-light float-left">Mais utilizada</span>
                                <h5 class="labelH5">Aeronave 01</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">10.000</h1>
                                <div class="stat-percent font-bold text-success">70% <i class="fa fa-bolt"></i></div>
                                <small>Horas de vôo</small>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
        <div class="col-md-3">
            <div class="col-md-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h3>Vôos Programados</h3>
                        <div class="ibox-tools">
                            <i class="fa fa-plane sizePlane"></i>
                        </div>
                    </div>
                    <div class="ibox-content contentProgramados">
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                <span class="float-right">
                                    09:00 pm
                                </span>
                                <span class="label label-success">1</span> Aeronave 01
                            </li>
                            <li class="list-group-item">
                                <span class="float-right">
                                    10:16 am
                                </span>
                                <span class="label label-info">2</span> Aeronave 02
                            </li>
                            <li class="list-group-item">
                                <span class="float-right">
                                    08:22 pm
                                </span>
                                <span class="label label-primary">3</span> Aeronave 03
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
       
    </div>
    </section>
  
  <!-- Body da página -->
  <div class="row">
      <div class="col-md-4">
            <div class="wrapper wrapper-content">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-warning float-right">Top 3</span>
                            <h5>Pilotos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-4">
                                    <small class="stats-label">Nome</small>
                                    <h4>José da Silva</h4>
                                </div>
        
                                <div class="col-4">
                                    <small class="stats-label">Horas de vôo</small>
                                    <h4>1.250</h4>
                                </div>
                                <div class="col-4">
                                    <small class="stats-label"> % </small>
                                    <h4>50</h4>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-4">
                                    <small class="stats-label">Nome</small>
                                    <h4>João Pereira</h4>
                                </div>
        
                                <div class="col-4">
                                    <small class="stats-label">Horas de vôo</small>
                                    <h4>700</h4>
                                </div>
                                <div class="col-4">
                                    <small class="stats-label"> % </small>
                                    <h4>30</h4>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-4">
                                    <small class="stats-label">Nome</small>
                                    <h4>João Castilho</h4>
                                </div>
        
                                <div class="col-4">
                                    <small class="stats-label">Horas de vôo</small>
                                    <h4>500</h4>
                                </div>
                                <div class="col-4">
                                    <small class="stats-label"> % </small>
                                    <h4>20</h4>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
        
      </div>

      <div class="col-md-6">
        <div class="wrapper wrapper-content">
              <div class="col-md-10">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Horas de vôos anuais <small> - por aeronave</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                                                       
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="position: relative">
                        <div id="morris-area-chart"></div>
                    </div>
                </div>
               </div>
        
        </div> 
      </div> 
       

    </div>
